<footer class="mt-auto pt-4 bg-light">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-3">
        <%= link_to root_path, class: 'me-0', data: { turbo: "false" }  do %>
          <%= image_tag 'logo.png', class: 'light-mode-item h-40px' %>
        <% end %>
        <ul class="list-inline mb-0 mt-3">
          <li class="list-inline-item">
            <%= link_to root_path, class: 'btn btn-white btn-sm shadow px-2 text-facebook', data: { turbo: "false" }  do %>
              <i class="fab fa-fw fa-vk"></i>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to root_path, class: 'btn btn-white btn-sm shadow px-2 text-facebook', data: { turbo: "false" }  do %>
              <i class="fab fa-fw fa-odnoklassniki"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div class="row g-4">
          <div class="col-6 col-md-4">
            <h5 class="mb-2 mb-md-4">О нас</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link', data: { turbo: "false" }  do %>
                  О сервисе
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link', data: { turbo: "false" }  do %>
                  Новости
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link', data: { turbo: "false" }  do %>
                  Вакансии
                <% end %>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <h5 class="mb-2 mb-md-4">Поддержка</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link', data: { turbo: "false" }  do %>
                  Вопросы и ответы
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link', data: { turbo: "false" }  do %>
                  Служба поддержки
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link', data: { turbo: "false" }  do %>
                  Написать нам
                <% end %>
              </li>
            </ul>
          </div>
          <div class="col-6 col-md-4">
            <h5 class="mb-2 mb-md-4">Начать</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link', data: { turbo: "false" }  do %>
                  Как пользоваться
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link', data: { turbo: "false" }  do %>
                  Регистрация
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to root_path, class: 'nav-link', data: { turbo: "false" }  do %>
                  Вход
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <h5 class="mb-2 mb-md-4">Контакты</h5>
        <p class="mb-2">
          Тел.:<span class="h6 fw-light ms-2">+7 495 111-11-11</span>
          <span class="d-block small">(9:00 - 18:00 ПН-ПТ)</span>
        </p>
        <p class="mb-0">Email:<span class="h6 fw-light ms-2">mail@mail.ru</span></p>
        <div class="row g-2 mt-2">
          <div class="col-6 col-sm-4 col-md-3 col-lg-6">
            <%= link_to root_path, class: 'text-body', data: { turbo: "false" }  do %>
              <%= image_tag 'client/google-play.svg', class: 'light-mode-item h-40px' %>
            <% end %>
          </div>
          <div class="col-6 col-sm-4 col-md-3 col-lg-6">
            <%= link_to root_path, class: 'text-body', data: { turbo: "false" }  do %>
              <%= image_tag 'client/app-store.svg', class: 'light-mode-item h-40px' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-4 mb-0">
    <div class="">
      <div class="container px-0">
        <div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-left">
          <div class="text-primary-hover">
            Копирайт • © 2022
            <%= link_to root_path, class: 'text-body', data: { turbo: "false" }  do %>
               Сервис
            <% end %>
            • Все права защищены
          </div>
          <div class=" mt-3 mt-md-0">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <%= link_to root_path, class: 'nav-link pe-0', data: { turbo: "false" }  do %>
                  Политика конфиденциальности
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
