<section class="pt-0 pb-0">
  <!-- Main banner background image -->
  <div class="container-fluid px-0">
    <div class="bg-light h-100px h-md-100px rounded-0">
    </div>
  </div>
  <div class="container mt-n4">
    <div class="row">
      <!-- Profile banner START -->
      <div class="col-12">
        <div class="card bg-transparent card-body p-0 mb-4">
          <div class="row d-flex justify-content-between">
            <!-- Avatar -->
            <div class="col-auto">
              <div class="avatar avatar-xxl mt-n3">
                <%= image_tag 'no_avatar', class: 'bg-light avatar-img rounded-circle border border-white border-3' %>
              </div>
            </div>
            <!-- Profile info -->
            <div class="col justify-content-between align-items-center">
              <div>
                <h1 class="h5 mb-3">
                  <%= link_to user_path(user) do %>
                    <span>@<%= user.name %></span>
                    <i class="bi bi-patch-check-fill text-info small"></i>
                  <% end %>
                </h1>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0">
                    <i class="fas fa-star text-warning me-2"></i>
                    <span>0.0</span>
                  </li>
                  <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0">
                    <i class="fas fa-comment-dots text-black-50 me-2"></i>
                    <span>0 Отзывов</span>
                  </li>
                  <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0">
                    <i class="fas fa-id-card text-black-50 me-2"></i>
                    <span><%= user.first_name %></span>
                    <span><%= user.last_name %></span>
                  </li>
                  <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0">
                    <i class="fas fa-fingerprint text-black-50 me-2"></i>
                    <span><%= user.user_uid %></span>
                  </li>
                  <li class="list-inline-item h6 fw-light me-3 mb-1 mb-sm-0">
                    <i class="fas fa-flag text-black-50 me-2"></i>
                    <span>Пожаловаться</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Profile banner END -->
      </div>
    </div>
  </div>
</section>